# Django DB
 db.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/

# Django static/media
/static/
/media/

# VSCode
.vscode/


settings_local.py

mallapi.Zip

# CUCCUINI/아뜰리에 수집 데이터 무시
export/*
!export/.gitkeep